@import "/src/assets/scss/variables";

.productDetails {
  .listImage {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);

    .listImageItem {
      cursor: pointer;

      &.active {
        border: 2px solid $primary;
      }
    }
  }
}
