.productFeed {
  .card {
    overflow: none;
    border-radius: 0.85rem;
    -webkit-border-radius: 0.85rem;
    -moz-border-radius: 0.85rem;
    -ms-border-radius: 0.85rem;
    -o-border-radius: 0.85rem;
  }
}
