@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font-weight-medium {
  font-weight: 500 !important;
}

/* make the customizations */
$theme-colors: (
  "primary": #5b8a72,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
@import "/src/assets/scss/components";
